body { 
	padding: 0; 
	margin: 0; 
	background: #000000; 
  text-align: center;
}

#particles-js {
  background-color: #b61924;
}

.thumbnail .project-img {
  min-height: 177px;
}

#notenodes {
  margin-top: 5%;
}

.achievement {
  font-size: 20px;
  color: #626363;
}

.caption {
  min-height: 267px;
}

.rating {
    font-size: 30px;
    color: #f4d03f;
}

.rating-description {
    font-style: italic;
    font-size: 12px;
    color: #626363;
}

.projects hr {
  margin-top: 0px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.caption h3 {
  margin-top: 0px;
}

.thumbnail {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.thumbnail .caption a>img {
  display: inline;
  margin-left: 0px;
  margin-right: 5px;
}

.project-logo {
  margin-top: -15%;
  background-color: #fff;
  min-height: 106px;
}

.projects {
  background-color: #ffffff;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}

.first {
	min-height: 476px;
	overflow: auto;
}

.title {
  color: #333333;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 440px;
  height: 426px;
  margin: -220px 0 0 -220px;
	padding: 0px 20px;
	display: block;
	border: 1px solid #000000;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	vertical-align: center;
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.8);
}

.bounce {
  background: url('http://d4yt8xl9b7in.cloudfront.net/assets/home/scroll-trigger-small@2x-259af61c001f3cd0b3d4fcd9c2f62df0.png');
  background-size: 26px 16px;
  width: 26px;
  height: 16px;
  cursor: pointer;
  position:fixed;
  bottom:20px;
  left: 49%;
  -webkit-animation:bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:20px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:30px; }
  100%     {bottom:20px;}
}

.picture {
	text-align: center;
	padding: 5% 0;
}

/* Rounded avatars */
.avatar {
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.name {
	color: white;
	font-size: 25px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.introduction {
	line-height: 1;
	color: white;
	text-shadow: 1px 1px #000000;
	font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/css/social-icons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/css/social-icons/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/css/social-icons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/css/social-icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

ul { 
	display: block;
	padding: 0;
	list-style-type: none;
}

ul li { 
	display: inline-block;
	font-size: 40px;
	margin: 0 10px;
	text-align: center;
}

ul.social_bar li a { 
	opacity: 0.5; 
}

ul.social_bar li a:hover { 
	opacity: 1; 
	-webkit-transition: all 0.2s ease-in-out; 
}

ul.social_bar a { 
	color: #ffffff; 
	text-decoration: none; 
	cursor: pointer;
}

ul.social_bar a:hover { 
	color: #ffffff; 
	-webkit-transition: all 0.2s ease-in-out; 
}

.timeline {
	background: #f5f5f5;
	border-top: 2px solid #ddd;
	box-shadow: inset 10px 10px 10px -10px rgba(0, 0, 0, .1);
	padding: 25px;
  padding-bottom: 0px;
	position: relative;
}

.details {
  font-size: 15px;
}

.footer {
    color: #cccccc;
    text-align: center;
    font-size: 11px;
    padding-bottom: 20px;
}

/* CSS tricks for timeline */

ul.line {
  padding: 0 40px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
}

ul.line::before {
	position: absolute;
	content: '';
	width: 2px;
	left: 50%;
	margin-left: -1px;
	display: block;
	top: 0;
	bottom: 90px;
	background: #ddd;
}

ul.line li {
  clear: both;
  display: block;
  width: 100%;
  position: relative;
  margin: 40px 0;
  height: 30px;
  font-size: 18px;
  line-height: 27px;
}

ul.line li:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -6px;
  padding: 6px;
  background: #ddd;
  border-radius: 10px;  
}

ul.line li span {
  margin-top: 8px;
  border-radius: 6px;
  background: white;
  padding: 8px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  position: absolute;
  top: -15px;
  background-size: 100% 100%;
}

ul.line li:nth-child(odd) span {
  left: 50%;
  margin-left: 35px;
}

ul.line li:nth-child(even) span {
  right: 50%;
  margin-right: 35px;
}

ul.line li small {
  text-align: right;
  display: block;
  line-height: 31px;
  color: #aaa;
}

ul.line li span img {
  vertical-align: middle;  
  width: auto;
  height: 25px;
}

ul.line li:nth-child(odd) small {
  margin-right: 50%;
  padding-right: 30px;  
}

ul.line li:nth-child(even) small {
  text-align: left;
  margin-left: 50%;
  padding-left: 30px;
}

ul.line li:nth-child(even) span:before, ul.line li:nth-child(even) span:after {
  left: 100%;
  border-left-color: white;
}

ul.line li:nth-child(odd) span:before, ul.line li:nth-child(odd) span:after {
  border-right-color: white;
  right: 100%;
}

ul.line li span:before, ul.line li span:after {
  content: ''; height: 0; position: absolute; width: 0;
  border-color: transparent; border-style: solid;

  margin-bottom: -8px;
  bottom: 50%;
  border-width: 8px;
}

ul.line li:nth-child(even) span:before {
  margin-left: 1px;
  border-left-color: rgba(0, 0, 0, .1);
}

ul.line li:nth-child(odd) span:before {
  margin-right: 1px;
  border-right-color: rgba(0, 0, 0, .1);
}

ul.line li a, ul.line li a:visited {
  color: inherit;
}